@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: rgb(31, 28, 28);
  font-family: "DM Sans", sans-serif;
}

.background {
  background-image: url("../assets/background.png");
  background-repeat: repeat-y;
}
.banner-bg {
  background-image: url("../assets/banner-bg-2.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.banner-bg-2 {
  background-image: url("../assets/banner-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.nav-hover {
  @apply before:w-0 hover:before:w-full before:bg-amber-500 before:h-[2px] before:transition-all before:duration-300 before:absolute relative before:rounded-full before:-bottom-4 hover:text-amber-500 transition-all duration-300 before:left-0 cursor-pointer;
}

.section-grid {
  @apply grid grid-cols-1 lg:grid-cols-8;
}

.dark-overlay {
  @apply absolute inset-0 bg-black/60 flex flex-col justify-center items-center text-center opacity-0 group-hover:opacity-100 transition-opacity duration-300;
}

.started-btn {
  @apply px-3 py-1.5 border border-amber-500 text-amber-500 font-semibold rounded-md cursor-pointer hover:text-white hover:bg-gradient-to-tr from-amber-400 via-amber-500 to-amber-600;
}
